.frame-4,
.frame-4 * {
  box-sizing: border-box;
}
.frame-4 {
  background: #ffffff;
  height: 11351px;
  position: relative;
  overflow: hidden;
}
.solusi {
  position: absolute;
  inset: 0;
}
.bg {
  background: radial-gradient(
      closest-side,
      rgba(16, 183, 131, 0.1) 0%,
      rgba(165, 208, 218, 0.2) 42.16375648975372%,
      rgba(253, 249, 241, 0.2) 79.5595645904541%
    ),
    linear-gradient(to left, #fdf9f1, #fdf9f1);
  width: 3684px;
  height: 3646px;
  position: absolute;
  left: -209px;
  top: 4107px;
}
.platform-digital-monitoring-terpadu-yang-dirancang-khusus-untuk-mengelola-menilai-dan-mengevaluasi-pelaksanaan-program-makan-bergizi-gratis-secara-nasional {
  color: #5e5e5e;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4617px;
  width: 1434px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sistem-pengawasan-real-time-yang-memastikan-setiap-tahapan-operasional-berjalan-sesuai-standar-prosedur-sop {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 56.5px);
  top: 5094px;
  width: 1084px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tanpa-perhitungan-yang-tepat-dapur-berisiko-mengalami-kelebihan-atau-kekurangan-bahan-baku-hal-ini-dapat-membuat-biaya-tidak-efisien-sistem-kami-menghitung-gramasi-secara-otomatis {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 56.5px);
  top: 6556px;
  width: 1084px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menyusun-variasi-menu-harian-dengan-mudah-jadwal-otomatis-disesuaikan-dengan-kebutuhan-kandungan-nutrisi-standar-yang-diperlukan-oleh-anak {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 1027.5px);
  top: 5859px;
  width: 1084px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.laporan-operasional-otomatis-mempermudah-proses-verifikasi-efisien-waktu-dan-data-lebih-akurat-proses-dari-persiapan-hingga-selesai-dapat-dipantau-secara-realtime-dan-dipastikan-sesuai-tujuan {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 1027.5px);
  top: 7167px;
  width: 1084px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.monitoring-proses {
  color: #172554;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 90px;
  line-height: 114.73%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 56.5px);
  top: 4975px;
  width: 1084px;
}
.apa-itu-bantu-mbg {
  color: #172554;
  text-align: center;
  font-family: "Poppins-Black", sans-serif;
  font-size: 90px;
  line-height: 114.73%;
  font-weight: 900;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4469px;
  width: 1235px;
}
.perencanaan-belanja-bahan-baku {
  color: #172554;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 90px;
  line-height: 114.73%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 56.5px);
  top: 6325px;
  width: 1084px;
}
.perencanaan-menu-siklus-menu {
  color: #172554;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 90px;
  line-height: 114.73%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 1027.5px);
  top: 5628px;
  width: 1084px;
}
.laporan-digital-monitoring-proses {
  color: #172554;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 90px;
  line-height: 114.73%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 1027.5px);
  top: 6934px;
  width: 1084px;
}
.group-4 {
  width: 421px;
  height: 85px;
  position: static;
}
.rectangle-7 {
  background: #ffffff;
  border-radius: 42.62px;
  border-style: solid;
  border-color: #004d91;
  border-width: 1px;
  width: 421px;
  height: 85px;
  position: absolute;
  left: 1422px;
  top: 4325px;
}
.group-1 {
  width: 295px;
  height: 54px;
  position: static;
}
.solusi-terpadu {
  color: #172554;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 700;
  position: absolute;
  left: 1517px;
  top: 4340px;
  width: 268px;
  height: 54px;
}
.ellipse-1 {
  background: #15b18c;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 1507px;
  top: 4358px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.image-15 {
  border-radius: 51px;
  width: 862px;
  height: 487px;
  position: absolute;
  left: 605px;
  top: 4903px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 862/487;
}
.image-17 {
  border-radius: 51px;
  width: 862px;
  height: 487px;
  position: absolute;
  left: 605px;
  top: 6253px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 862/487;
}
.image-16 {
  border-radius: 51px;
  width: 862px;
  height: 487px;
  position: absolute;
  left: 1798px;
  top: 5600px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 862/487;
}
.image-18 {
  border-radius: 51px;
  width: 862px;
  height: 487px;
  position: absolute;
  left: 1798px;
  top: 6906px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 862/487;
}
.problematika {
  position: absolute;
  inset: 0;
}
.yayasan-dan-dapur-masih-menghadapi-sejumlah-tantangan-dalam-menjalankan-program-mbg-yang-dirancang-untuk-menjamin-asupan-makanan-sehat-dan-tepat-waktu-bagi-siswa {
  color: #5e5e5e;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 916px;
  top: 2461px;
  width: 1434px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tantangan-program-gizi {
  color: #172554;
  text-align: center;
  font-family: "Poppins-Black", sans-serif;
  font-size: 90px;
  line-height: 114.73%;
  font-weight: 900;
  position: absolute;
  left: 1015px;
  top: 2313px;
  width: 1235px;
}
.group-3 {
  width: 610px;
  height: 85px;
  position: static;
}
.rectangle-72 {
  background: #ffffff;
  border-radius: 42.62px;
  border-style: solid;
  border-color: #004d91;
  border-width: 1px;
  width: 421px;
  height: 85px;
  position: absolute;
  left: 1422px;
  top: 2158px;
}
.group-12 {
  width: 610px;
  height: 54px;
  position: static;
}
.problematika2 {
  color: #172554;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 700;
  position: absolute;
  left: 1341px;
  top: 2173px;
  width: 610px;
  height: 54px;
}
.ellipse-12 {
  background: #15b18c;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 1511px;
  top: 2191px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.rectangle-28 {
  background: #f8fafc;
  border-radius: 46.84px;
  width: 701px;
  height: 544px;
  position: absolute;
  left: 533px;
  top: 2718px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-37 {
  background: #f8fafc;
  border-radius: 46.84px;
  width: 701px;
  height: 544px;
  position: absolute;
  left: 533px;
  top: 3332px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-29 {
  background: #f8fafc;
  border-radius: 46.84px;
  width: 701px;
  height: 544px;
  position: absolute;
  left: 1295px;
  top: 2718px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-38 {
  background: #f8fafc;
  border-radius: 46.84px;
  width: 701px;
  height: 544px;
  position: absolute;
  left: 1295px;
  top: 3332px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-30 {
  background: #f8fafc;
  border-radius: 46.84px;
  width: 701px;
  height: 544px;
  position: absolute;
  left: 2057px;
  top: 2718px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-39 {
  background: #f8fafc;
  border-radius: 46.84px;
  width: 701px;
  height: 544px;
  position: absolute;
  left: 2057px;
  top: 3332px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-34 {
  border-radius: 22px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 582px;
  top: 2766px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-40 {
  border-radius: 22px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 582px;
  top: 3381px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-35 {
  border-radius: 22px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1341px;
  top: 2766px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-41 {
  border-radius: 22px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1341px;
  top: 3381px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-36 {
  border-radius: 22px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 2103px;
  top: 2766px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.mask-group {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1341px;
  top: 3381px;
  overflow: visible;
}
.mask-group2 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 582px;
  top: 3381px;
  overflow: visible;
}
.mask-group3 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 582px;
  top: 2766px;
  overflow: visible;
}
.mask-group4 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 2103px;
  top: 2766px;
  overflow: visible;
}
.mask-group5 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1341px;
  top: 2766px;
  overflow: visible;
}
.perencanaan-belanja {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 39.861244201660156px;
  font-weight: 700;
  position: absolute;
  left: 599px;
  top: 2896px;
  width: 445px;
  height: 64.95px;
}
.pemenuhan-gizi {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 39.861244201660156px;
  font-weight: 700;
  position: absolute;
  left: 599px;
  top: 3511px;
  width: 445px;
  height: 64.95px;
}
.pencatatan-manual {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 39.861244201660156px;
  font-weight: 700;
  position: absolute;
  left: 1358px;
  top: 2896px;
  width: 445px;
  height: 64.95px;
}
.deteksi-lambat {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 39.861244201660156px;
  font-weight: 700;
  position: absolute;
  left: 1358px;
  top: 3511px;
  width: 445px;
  height: 64.95px;
}
.distribusi {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 39.861244201660156px;
  font-weight: 700;
  position: absolute;
  left: 2120px;
  top: 2896px;
  width: 445px;
  height: 64.95px;
}
.tanpa-sistem-yang-kuat-program-besar-akan-sulit-diukur-keberhasilannya-secara-akurat {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 39.861244201660156px;
  font-weight: 700;
  position: absolute;
  left: 2120px;
  top: 3467px;
  width: 561px;
  height: 250px;
}
.tanpa-sistem-yang-jelas-kebutuhan-bahan-baku-sulit-diprediksi-berisiko-menimbulkan-kekurangan-atau-kelebihan-stok {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 1358px;
  top: 2990px;
  width: 575px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tanpa-sistem-yang-jelas-ketidaksesuaian-porsi-sasaran-sulit-terdeteksi-secara-dini {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 1358px;
  top: 3625px;
  width: 575px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tanpa-sistem-yang-jelas-kebutuhan-bahan-baku-sulit-diprediksi-berisiko-menimbulkan-kekurangan-atau-kelebihan-stok2 {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 2120px;
  top: 2990px;
  width: 575px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tanpa-sistem-yang-jelas-kebutuhan-bahan-baku-sulit-diprediksi-berisiko-menimbulkan-kekurangan-atau-kelebihan-stok3 {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 599px;
  top: 2990px;
  width: 575px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tanpa-sistem-yang-jelas-kebutuhan-bahan-baku-sulit-diprediksi-berisiko-menimbulkan-kekurangan-atau-kelebihan-stok4 {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 599px;
  top: 3605px;
  width: 575px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home {
  position: absolute;
  inset: 0;
}
.bg2 {
  background: radial-gradient(
      closest-side,
      rgba(16, 183, 131, 0.1) 0%,
      rgba(165, 208, 218, 0.2) 42.16375648975372%,
      rgba(253, 249, 241, 0.2) 79.5595645904541%
    ),
    linear-gradient(to left, #fdf9f1, #fdf9f1);
  width: 3684px;
  height: 1971px;
  position: absolute;
  left: -209px;
  top: -48px;
}
.subs {
  width: 555px;
  height: 85px;
  position: static;
}
.rectangle-73 {
  background: linear-gradient(
    180deg,
    rgba(0, 71, 153, 1) 0%,
    rgba(1, 116, 100, 1) 100%
  );
  border-radius: 42.62px;
  width: 555px;
  height: 85px;
  position: absolute;
  left: 1355px;
  top: 1413px;
}
.berlangganan-sekarang {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 700;
  position: absolute;
  left: 1413.86px;
  top: 1428px;
  width: 437.27px;
  height: 54px;
}
.mewujudkan-program-makan-bergizi-gratis-nasional-yang-tidak-hanya-berjalan-tetapi-terpantau-terukur-dan-berdampak-nyata-hingga-ke-setiap-penerima-manfaat {
  color: #5e5e5e;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 992px;
  top: 1227px;
  width: 1282px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headline {
  width: 1677px;
  height: 453.76px;
  position: static;
}
.monitoring-mbg-yang {
  color: #172554;
  text-align: center;
  font-family: "Poppins-Black", sans-serif;
  font-size: 120px;
  line-height: 114.73%;
  font-weight: 900;
  position: absolute;
  left: 794px;
  top: 724.62px;
  width: 1677px;
}
.dalam-satu-system {
  color: #172554;
  text-align: center;
  font-family: "Poppins-Black", sans-serif;
  font-size: 120px;
  line-height: 114.73%;
  font-weight: 900;
  position: absolute;
  left: 794px;
  top: 1040.38px;
  width: 1677px;
}
.transparan-terukur {
  background: linear-gradient(
    90deg,
    rgba(70, 123, 234, 1) 0%,
    rgba(16, 183, 130, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Poppins-Black", sans-serif;
  font-size: 120px;
  line-height: 114.73%;
  font-weight: 900;
  position: absolute;
  left: 794px;
  top: 882.5px;
  width: 1677px;
}
.group-2 {
  width: 763px;
  height: 85px;
  position: static;
}
.rectangle-74 {
  background: #ffffff;
  border-radius: 42.62px;
  border-style: solid;
  border-color: #004d91;
  border-width: 1px;
  width: 763px;
  height: 85px;
  position: absolute;
  left: 1251px;
  top: 574px;
}
.pantau-evaluasi-tingkatkan {
  color: #172554;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 700;
  position: absolute;
  left: 1341px;
  top: 589px;
  width: 610px;
  height: 54px;
}
.ellipse-13 {
  background: #15b18c;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 1373px;
  top: 607px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.header {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: #efefef;
  border-radius: 69px;
  width: 2357px;
  height: 158px;
  position: absolute;
  left: 454px;
  top: 93px;
}
.rectangle-75 {
  background: linear-gradient(
    180deg,
    rgba(0, 71, 153, 1) 0%,
    rgba(1, 116, 100, 1) 100%
  );
  border-radius: 42.62px;
  width: 342px;
  height: 85px;
  position: absolute;
  left: 2433px;
  top: 130px;
}
.tantangan {
  color: rgba(0, 0, 0, 0.62);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 500;
  position: absolute;
  left: 1174px;
  top: 145px;
  width: 191px;
  height: 54px;
}
.bantu-mbg {
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 49.28078079223633px;
  font-weight: 700;
  position: absolute;
  left: 680px;
  top: 131.85px;
  width: 284px;
  height: 80.29px;
}
.bantu-mbg-span {
  color: #000000;
}
.bantu-mbg-span2 {
  color: #014d92;
}
.fitur {
  color: rgba(0, 0, 0, 0.62);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 500;
  position: absolute;
  left: 1454px;
  top: 144.94px;
  width: 90.65px;
  height: 54.12px;
}
.solusi2 {
  color: rgba(0, 0, 0, 0.62);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 500;
  position: absolute;
  left: 1575px;
  top: 144.94px;
  width: 190.76px;
  height: 54.12px;
}
.manfaat {
  color: rgba(0, 0, 0, 0.62);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 500;
  position: absolute;
  left: 1794px;
  top: 145px;
  width: 180px;
  height: 54px;
}
.hubungi-kami {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 700;
  position: absolute;
  left: 2143px;
  top: 145px;
  width: 262px;
  height: 54px;
}
.daftar-mitra {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 700;
  position: absolute;
  left: 2469.24px;
  top: 144.94px;
  width: 269.24px;
  height: 54.12px;
}
.mask-group6 {
  width: 85.24px;
  height: 85.24px;
  position: absolute;
  left: 717.24px;
  top: 130.06px;
  overflow: visible;
}
.untitled-1-1 {
  width: 155px;
  height: 110px;
  position: absolute;
  left: 516px;
  top: 118px;
  object-fit: cover;
  aspect-ratio: 155/110;
}
.rectangle-48 {
  background: #172554;
  width: 4px;
  height: 154px;
  position: absolute;
  left: 1867px;
  top: 8064px;
}
.mask-group7 {
  height: auto;
  position: absolute;
  left: 451px;
  top: 9177px;
  overflow: visible;
}
.group-42 {
  position: absolute;
  inset: 0;
}
.rectangle-76 {
  background: #ffffff;
  border-radius: 42.62px;
  border-style: solid;
  border-color: #004d91;
  border-width: 1px;
  width: 127px;
  height: 50px;
  position: absolute;
  left: 623px;
  top: 10072px;
}
.group-13 {
  width: 101.22px;
  height: 54px;
  position: static;
}
.pass {
  color: #172554;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 700;
  position: absolute;
  left: 638.88px;
  top: 10072px;
  width: 101.22px;
  height: 54px;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.rectangle-77 {
  background: #ffffff;
  border-radius: 42.62px;
  border-style: solid;
  border-color: #004d91;
  border-width: 1px;
  width: 127px;
  height: 50px;
  position: absolute;
  left: 996px;
  top: 10072px;
}
.fail {
  color: #ff0004;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 700;
  position: absolute;
  left: 1011.88px;
  top: 10072px;
  width: 101.22px;
  height: 54px;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.rectangle-78 {
  background: #ffffff;
  border-radius: 42.62px;
  border-style: solid;
  border-color: #004d91;
  border-width: 1px;
  width: 202px;
  height: 50px;
  position: absolute;
  left: 772px;
  top: 10072px;
}
.group-14 {
  width: 140px;
  height: 54px;
  position: static;
}
.partial {
  color: #ff9900;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 700;
  position: absolute;
  left: 803px;
  top: 10072px;
  width: 140px;
  height: 54px;
}
.ellipse-2 {
  border-radius: 50%;
  border-style: solid;
  border-color: #172554;
  border-width: 50px;
  width: 496px;
  height: 496px;
  position: absolute;
  left: 625px;
  top: 9473px;
}
.rectangle-282 {
  background: #f8fafc;
  border-radius: 46.84px;
  width: 761px;
  height: 487px;
  position: absolute;
  left: 424px;
  top: 8412px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-292 {
  background: #f8fafc;
  border-radius: 46.84px;
  width: 761px;
  height: 487px;
  position: absolute;
  left: 1252px;
  top: 8412px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-302 {
  background: #f8fafc;
  border-radius: 46.84px;
  width: 761px;
  height: 487px;
  position: absolute;
  left: 2080px;
  top: 8412px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-342 {
  border-radius: 22px;
  width: 109px;
  height: 100px;
  position: absolute;
  left: 477px;
  top: 8460px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-352 {
  border-radius: 22px;
  width: 108px;
  height: 100px;
  position: absolute;
  left: 1302px;
  top: 8460px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-362 {
  border-radius: 22px;
  width: 109px;
  height: 100px;
  position: absolute;
  left: 2129px;
  top: 8460px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.mask-group8 {
  height: auto;
  position: absolute;
  left: 2134px;
  top: 8460px;
  overflow: visible;
}
.mask-group9 {
  height: auto;
  position: absolute;
  left: 1306px;
  top: 8460px;
  overflow: visible;
}
.yayasan-sppg {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 39.861244201660156px;
  font-weight: 700;
  position: absolute;
  left: 496px;
  top: 8590px;
  width: 483px;
  height: 65px;
}
.dapur-mitra {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 39.861244201660156px;
  font-weight: 700;
  position: absolute;
  left: 1320px;
  top: 8590px;
  width: 484px;
  height: 65px;
}
.pihak-sekolah {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 39.861244201660156px;
  font-weight: 700;
  position: absolute;
  left: 2148px;
  top: 8590px;
  width: 483px;
  height: 65px;
}
.atur-menu-bahan-baku-belanja-hingga-distribusi-lewat-laporan-otomatis {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 1320px;
  top: 8685px;
  width: 625px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pantau-menu-harian-pastikan-distribusi-tepat-sasaran-dan-evaluasi-kualitas-makanan {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 2148px;
  top: 8685px;
  width: 625px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hasil-akhir-berupa-skor-haccp-untuk-setiap-fasilitas-dapur-atau-wilayah-diukur-berdasarkan-sistem-jaminan-keamanan-pangan-yang-bertujuan-untuk-mengidentifikasi-mengevaluasi-dan-mengendalikan-bahaya-secara-sistematis {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 1523px;
  top: 9499px;
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kualitas-gizi-makanan-harian {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 500;
  position: absolute;
  left: 1624px;
  top: 9758px;
  width: 515px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ketepatan-waktu-operasional-distribusi {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 500;
  position: absolute;
  left: 1624px;
  top: 9874px;
  width: 748px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kesesuaian-menu-dengan-sop-dapur {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 500;
  position: absolute;
  left: 1624px;
  top: 9993px;
  width: 748px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tingkat-keterjangkauan-titik-wilayah {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 500;
  position: absolute;
  left: 1624px;
  top: 10112px;
  width: 748px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kendali-penuh-yayasan-dengan-laporan-dan-rencana-biaya-akurat {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 496px;
  top: 8685px;
  width: 624px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mask-group10 {
  height: auto;
  position: absolute;
  left: 482px;
  top: 8460px;
  overflow: visible;
}
.sistem-yang-saling-terhubung-memberikan-kendali-penuh-kepada-tiap-pemangku-kepentingan-untuk-memastikan-program-berjalan-lancar-dan-akuntabel {
  color: #5e5e5e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 34.524234771728516px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -272.5px);
  top: 8058px;
  width: 909px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.platform-satu-pintu-untuk-seluruh-ekosistem {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Black", sans-serif;
  font-size: 90px;
  line-height: 114.73%;
  font-weight: 900;
  position: absolute;
  left: calc(50% - 1181.5px);
  top: 8058px;
  width: 1235px;
}
.penilaian-berbasis-standar-keamanan-pangan {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Black", sans-serif;
  font-size: 90px;
  line-height: 114.73%;
  font-weight: 900;
  position: absolute;
  left: calc(50% - 116.5px);
  top: 9225px;
  width: 1325px;
}
.rectangle-79 {
  background: #ffffff;
  border-radius: 42.62px;
  border-style: solid;
  border-color: #004d91;
  border-width: 1px;
  width: 571px;
  height: 85px;
  position: absolute;
  left: 1347px;
  top: 7914px;
}
.group-15 {
  width: 400.33px;
  height: 54px;
  position: static;
}
.transformasi-digital {
  color: #172554;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 33.14305877685547px;
  font-weight: 700;
  position: absolute;
  left: 1475.85px;
  top: 7929px;
  width: 363.49px;
  height: 54px;
}
.ellipse-14 {
  background: #15b18c;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 1456px;
  top: 7947px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
._100 {
  color: #172554;
  text-align: left;
  font-family: "Poppins-Black", sans-serif;
  font-size: 118.83494567871094px;
  line-height: 114.73%;
  font-weight: 900;
  position: absolute;
  left: 770.01px;
  top: 9628px;
}
.sangat-baik {
  color: #172554;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 30.416767120361328px;
  font-weight: 700;
  position: absolute;
  left: 763px;
  top: 9763.7px;
  width: 219px;
  height: 49.6px;
}
.keamanan-pangan-minggu-ini {
  color: #5e5e5e;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 29.221309661865234px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 608px;
  top: 9336.04px;
  width: 529px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-50 {
  background: #172554;
  width: 4842px;
  height: 1798px;
  position: absolute;
  left: -849px;
  top: 10433px;
}
.bantu-mbg2 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 59.69221115112305px;
  font-weight: 700;
  position: absolute;
  left: 697px;
  top: 10662.47px;
  width: 344px;
  height: 97.26px;
}
.untitled-1-12 {
  width: 237px;
  height: 167.91px;
  position: absolute;
  left: 451px;
  top: 10628px;
  object-fit: cover;
  aspect-ratio: 237/167.91;
}
.sistem-monitoring-program-makan-bergizi-gratis-terpadu-untuk-memastikan-pelaksanaan-nasional-yang-efektif-dan-transparan {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 45px;
  line-height: 114.73%;
  font-weight: 400;
  position: absolute;
  left: 474px;
  top: 10899px;
  width: 1228px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
